:root {
  --primary-text-color: rgba(0, 0, 0, 0.25);
  --title-text-col0r: #000000;
  --accent-color: #d9d9d9;
  --primary-bg-color: #ffffff;
  --cloud-color;
  --cornflawer-color;
}

.body {
  background-color: #000000;
}

.ul nav {
  list-style: none;
}

.site-nav .link {
  color: brown;
}

.section-title {
  color: #f0f0f0;
}

/* Section 2 */

.link {
  color: aqua;
}

/* Section 2 */

.feature-list .title {
  color: #f0f0f0;
}

/* Button */

.button {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

/* color: #D9D9D9;  E7E9FC*/
/*FFFFFF*/
/*0000008*/
/*background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/

/* footer */

.footer {
  background-color: var(--title-text-color);
}

.logo-footer {
  font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--cloud-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflawer-color);
}