body {
  font-family: 'Roboto', sans-serif;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

  .header {
  }
  .header-navigation {
  }
  .header-logo {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;

    /* identical to box height, or 150% */
    /* NAVY BLUE */ 
  }
  .header-list {
  }
  .header-item {
  }
  .auth-nav {
  }
  .img-team {
  }
  .header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #D9D9D9;
  }
  .header-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    /* Inside auto layout */
   flex: none;
   order: 0;
   flex-grow: 0;
  }


:root {
  --primary-text-color: rgba(0, 0, 0, 0.25);
  --primary-white-color #ffffff;
  --title-text-col0r: #000000;
  --accent-color: #d9d9d9;
  --primary-bg-color: #ffffff;
  --cloud-color;
  --cornflawer-color;
}

.body {
  background-color: #000000;
}

.ul nav {
  list-style: none;
}

.site-nav .link {
  color: brown;
}

.section-title {
  color: #f0f0f0;
}

/* Section 2 */

.link {
  color: aqua;
}

/* Section 2 */

.feature-list .title {
  color: #f0f0f0;
}

/* Button */

.button {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
}

/* color: #D9D9D9;  E7E9FC*/
/*FFFFFF*/
/*0000008*/
/*background: #D9D9D9;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);*/

/* footer */

.footer {
  background-color: var(--title-text-color);
}

.logo-footer {
  font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--cloud-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cornflawer-color);
}

/* Portfolio Button */

.button {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);

  font-size: 14px;
  padding: 8px 24px;
  display: inline-block;

}

.button.primary {
color: var(--primary-white-color);
border-color: var(--accent-color);
border-color: transparent;

}

.button.secondary {
color: var(--accent-color);
background-color: var(--primary-white-color);
border-color: blue;
}